Source: pidgin-protocol-status-icons
Section: net
Priority: extra
Maintainer: Konrad Gräfe <konradgraefe@aol.com>
Build-Depends: debhelper (>= 7), autotools-dev, pidgin-dev (>= 2.6.0), intltool
Standards-Version: 3.9.1
Homepage: http://freakazoid.teamblind.de/

Package: pidgin-protocol-status-icons
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pidgin Protocol Status Icons
 This plugin replaces Pidgin original status icons so that you can have different status icons for different protocols.

Package: pidgin-protocol-status-icons-dbg
Section: devel
Architecture: any
Depends: pidgin-protocol-status-icons, ${misc:Depends}
Description: Pidgin Protocol Status Icons Debug Symbols
 Debug symbols for the Pidgin Protocol Status Icons plugin

